<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp">

    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/hippodrome.log" filePattern="logs/hippodrome.%d{yyyy-MM-dd}---%i.log">

            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-1p %c{1}: %m%n</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>

            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="2">
                    <IfLastModified age="P7D" />
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>